/* CSS Document */

body {
    position: relative;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}


/* Main content */
/* Sections Style attributes */


/* Navbar */

.navbar-default{
    margin-bottom: 0;
    background-image: linear-gradient(to bottom,#282527 0,#282527 100%);
    background-color: #282527;
    border-color: #000;
}


/* Carousel */
.slideshow {

}


/* Programs Section */
.programs {
    padding: 40px 20px;
    background-color: #fff;
}

.programs-text{
    text-align: center;
}

.programs-text h3 {
    font-size: 20px;
}


/* Vision Statement Section */
.vision{
    padding: 100px;
    text-align: center;
    color: #fff;
    background-color: #3498db;
}

.vision .header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.vision .content {
    padding-left: 80px;
    padding-right: 80px;
}


/* Review Section */
.review {
    padding: 30px;
    background-color: #ddd;
}

blockquote{
    border-left: none;
}

/* Profile Section */
.profile {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

.profile .header h1 {
    padding-bottom: 30px;
    font-weight: 800;
}

/* Our Team  Section */
.team{
    padding: 100px;
    text-align: center;
    color: #fff;
    background-color: #3498db;
}

.team .header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.team a {
    color: #fff;
}

.team .content {
    padding-left: 80px;
    padding-right: 80px;
}


/*  Pitch Paragraph Section */
.pitch{
    padding: 100px;
    text-align: center;
    background-color: #fff;
}

.pitch .header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.pitch .content {
    padding-left: 80px;
    padding-right: 80px;
}


/*  Apply Section */
.apply{
    padding: 100px;
    text-align: center;
    color: #fff;
    background-color: #3498db;
}

.apply .header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.apply .content {
    padding-left: 80px;
    padding-right: 80px;
}


/*  News Section */
.news{
    padding: 100px;
    text-align: center;
    background-color: #fff;
}

.news .header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.news .content {
    padding-left: 80px;
    padding-right: 80px;
}

/* Footer */

footer{
    padding-top: 20px;
    padding-bottom: 1px;
    color: #fff;
    background-color: #000000;
}

.thumbnail{
    padding: 0;
    background-color: transparent;
    border: none;
}

.well{
    padding: 0;
    background-image: linear-gradient(to bottom,#000000 0,#000000 100%);
}
