/* CSS Document */

/*
 * Base structure
 */

body {
    position: relative;
}

h1, h2, h3, a {
  font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 33px;
    font-weight: 100;
}


p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/* General Bootstrap styles */
    .nav>li>a {
        color: #FFFFFF;
    }

    .nav>li>a:focus, .nav>li>a:hover{
        background-color: transparent;
    }

    .navbar{
        margin-bottom: 0;
    }

    .btn-default{
        background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
        text-shadow: none;
    }


    .btn-default:focus, .btn-default:hover{
        background-color: #00ADDB;
    }

    .btn{
        color: #fff;
        border-radius: 0;
    }

    .thumbnail{
        border: 1px solid #FFF;
    }

    .img-thumbnail, .thumbnail{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    }



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

    /* Main content */
    /* Sections Style attributes */

    /* ============ Navbar =========== */

    .navbar-default{
        margin-bottom: 0;
        background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        border-radius: 0;
    }

    .navbar-default .navbar-nav>li>a{
        color: #000000;
    }

    .navbar-default .navbar-nav>li>a:hover{
        color:#00addb ;
    }

    .btn-default:focus, .btn-default:hover{
        background-color: #00ADDB;
    }


    /* =======  Carousel ======== */
    .carousel-caption h1{
        font-size: 20px;
    }


    /* ========== Programs Section ========== */
    .programs {
        text-align: center;
    }

    .p-content h1{
        padding-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-weight: 100;
        color: #000000;
        text-transform: uppercase;
    }

    .p-content h1>span{
        border-bottom: 1px solid #777;
        padding-bottom: 10px;
    }

    .p-content h3 {
        padding: 20px 0 10px 0;
        font-size: 18px;
    }

    .p-text p{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

   /* .programs img {
        -webkit-filter: grayscale(95%);
    }

    .programs img:hover{
        -webkit-filter: grayscale(0%);
    }


    /* =======  Vision  Section ======= */
    .vision{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .v-content{
        padding: 160px 0;

    }

    .v-content h1 {
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }

    .v-content p {

    }


    /* ====== Our Partners Section ========== */
    .partners {
        text-align: center;
    }

    .items{
        padding-bottom: 15px;
    }

    .pa-content  h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 100;
        text-transform: uppercase;
    }

    .pa-content h1>span{
        border-bottom: 1px solid #777;
        padding-bottom: 10px;
    }

    .pa-content h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 100;
    }

    .pa-content p{
        font-size: 12px;
    }


    /* ======== Our Team  Section ========== */
    .team{
        text-align: center;
        color: #000000;
    }

    .t-section h1 {
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
    }

    .t-section h1>span{
        border-bottom: 1px solid #777;
        padding-bottom: 10px;
    }

    .t-section a {
        padding: 15px;
        color: #5FA8C3;
    }

    .t-gallery{
        margin-top: 10px;
    }

    .headshots{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .headshots img {
        padding: 1px;
    }

    .head-text{
        padding-top: 20px;
    }


    /* ======== Testimonial Section ========= */

    .testimanial-section{
        height: 400px;
    }

    .ts-content-left {
        padding-left: 40px;
        padding-right: 40px;
    }

    .ts-content-right{
        padding-left: 40px;
        padding-right: 40px;
        color: #000;
        font-size: 16px;
        font-weight: 100;
    }

    .ts-content-left{
        font-size: 16px;
        font-weight: 100;
    }

    .ts-content-left h1{
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .ts-content-right h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    /*  ======== Pitch Paragraph Section ========= */
    .pitch{
        margin-left: auto;
        margin-right: auto;
        color: #000;
        text-align: center;
    }

    .pt-content {
        padding-bottom: 80px;
    }

    .pt-content h1 {
        padding-top: 40px;
        padding-bottom: 20px;
    }


    /*  ========= Contact Section ========= */
    .contact{
        height: 325px;
        color: #000;
        text-align: center;
    }

    .c-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .c-content h1 {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .c-content .btn {
        background-color:#2a2728;
    }


    /*  ======= News Section ======== */
    .news{
        height: 430px;
        text-align: center;
        background-color: #ffffff;
        color: #000000;
    }

    .n-content h1 {
        padding-top: 40px;
        padding-bottom: 20px;
    }


    /* Owl Carousel */

    .owl-carousel{
        padding-left: 15px;
        padding-right: 15px;
    }

    .owl-nav{
        font-weight: 100;
    }

    .owl-prev {
        padding-right: 10px;
        display: inline-block;
        text-transform: uppercase;
    }

    .owl-prev:hover{
        font-weight: 500;
    }

    .owl-next {
        display: inline;
        text-transform: uppercase;
    }

    .owl-next:hover{
        font-weight: 500;
    }


    /* =========== FOOTER ============ */

    .footer-nav{
        padding: 20px;
        background: #2a2728;
    }

    .footer-nav #logo{
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .social{
        text-align: center;
        color: #ffffff;
    }

    .social h2 {
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .social ul {
        padding-left: 0;
        display: inline-block;
    }

    .social>ul li {
        float: left;
        list-style: none;
        padding-right: 5px;
    }

    #twitter:hover{
        background-color: #00aced;
    }

    .newsletter h2 {
        font-size: 10px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }


    /* = Form Control = */
    .form-control{
        background-color: #fff;
        border-radius: 0;
        display: inline-block;
        border:1px solid rgba(204, 204, 204, 0);
    }

    .copyright {
        padding: 20px;
        color: #ffffff;
        background-color: #252223;
    }

    .copyright p {
        font-size: 9px;
        text-align: center;
    }

    /* btn */

    .btn-navbar a {
        color: #fff;
        font-size: 9px;
    }

    .btn-navbar a:hover {
        color: #00addb;
    }


    /* Subscription Form  */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

    .cont {
        /*  width: 300px; */
        margin: auto;
    }

    .login_bar {
        width: 300px;
        height: 40px;
        background: white;
        border-radius: 0px;
        top: 20%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .login {
        background: transparent;
        position: absolute;
        height: 100%;
        width: 190px;
        text-align: right;
        line-height: 42px;
        vertical-align: middle;
        z-index: 10;
        -webkit-transition: transform 0.2s ease-in-out 0s;
        -moz-transition: transform 0.2s ease-in-out 0s;
        -o-transition: transform 0.2s ease-in-out 0s;
        transition: transform 0.2s ease-in-out 0s;
    }

    .login_active {
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px);
    }

    .subscribe_button:hover{
        background-color: #00addb;
        cursor:pointer;
    }

    .subscribe_button {
        background: #00addb;
        position: absolute;
        top: -54px;
        left: 200px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 150px;
        width: 100px;
        text-align: center;
        line-height: 150px;
        vertical-align: middle;
        color: white;
        -webkit-transition: transform 0.5s ease 0s;
        -moz-transition: transform 0.5s ease 0s;
        -o-transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
    }

    .subscribe_button_active{
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
    }

    .subscribing{
        background: #CDD4DC;
        height: 100%;
        width: 300px;
        z-index: 5;
        position: absolute;
        left:-300px;
        display: inline-block;
        -webkit-transition: transform 1s ease 0s ;
        -moz-transition: transform 1s ease 0s ;
        -o-transition: transform 1s ease 0s ;
        transition: transform 1s ease 0s ;
    }

    .subscribing_active {
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px);
    }

    .thanks{
        background: transparent;
        height: 100%;
        width: 300px;
        z-index: 5;
        text-align: left;
        line-height: 50px;
        vertical-align: middle;
        padding-left: 10px;
        position: absolute;
        top:46px;
        display: inline-block;
        -webkit-transition: transform 0.5s ease 0s ;
        -moz-transition: transform 0.5s ease 0s ;
        -o-transition: transform 0.5s ease 0s ;
        transition: transform 0.5s ease 0s ;
    }

    .thanks_active {
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px);
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){


    .btn {
        margin-top: 0px;
        margin-left: -50px;
    }

    /* Subscription Input */
    .subscribe_button {
        background: #00addb;
        position: absolute;
        top: -54px;
        left: 200px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 150px;
        width: 100px;
        text-align: center;
        line-height: 150px;
        vertical-align: middle;
        color: white;
        -webkit-transition: transform 0.5s ease 0s;
        -moz-transition: transform 0.5s ease 0s;
        -o-transition: transform 0.5s ease 0s;
        transition: transform 0.5s ease 0s;
    }


    .news{
        height: 430px;
    }

    /* Owl Carousel */

    .owl-carousel{
        padding: 0 55px;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

    /* ====== Navbar ======= */

    .navbar-default{
        margin-bottom: 0;
        background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        border-radius: 0;
    }

    .navbar-default .navbar-nav>li>a{
        color: #000000;
    }

    .navbar-default .navbar-nav>li>a:hover{
        color:#00addb ;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
        margin-left: 20px;
    }

    .navbar-right{
        margin-right: 0;
    }

    /* ====== Carousel ======= */
    .carousel-caption{
        padding-bottom: 60px;
    }


    /* ======== Programs Section ====== */
    .programs {
        padding: 80px 100px 0;
    }

    .p-content h1{
        font-size: 30px;
    }

    .p-text h3 {
        font-weight: 800;
    }

    .p-content p {
        padding-bottom: 20px;
    }


    /* ===== Vision Section ====== */
    .vision{
        width: 850px;
    }

    .v-content h1 {
        font-size: 23px;
    }

    .v-content p {
        font-size: 30px;
    }


    /* ===== Review Section  ========= */

    /* Testimonial Background */
    .testimanial-section{
        height: 400px;
    }

    .ts-content-left {
        width: 600px;
        padding-left: 180px;
    }

    .ts-content-right{
        width: 600px;
        padding-right: 100px;
        color: #fff;
        float: right;
        text-align: right;
        font-size: 33px;
        font-weight: 100;
    }

    .ts-content-left{
        font-size: 33px;
        font-weight: 100;
    }

    .ts-content-left h1{
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .ts-content-right h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    /* ===== Our Partners Section ===== */
    .pa-content{
        padding: 60px 240px 0;
    }

    .pa-content  h1 {
        padding-bottom: 30px;
        font-size: 30px;
    }

    .pa-content h3{
        font-size: 18px;
    }

    .pa-content p{
        font-size: 14px;
        padding-bottom: 30px;
    }


    /* ===== Our Team Section ====== */

    .team{
        padding: 100px 0;
    }

    .t-section h1 {
        padding-bottom: 30px;
        font-size: 30px;
    }

    .t-section p {
        font-size: 16px;
    }

    .t-section a {
        padding: 15px;
        color: #5FA8C3;
    }

    .t-gallery{
        margin-top: 30px;
    }

    .headshots{
        margin: 0 200px;
    }

    .head-img{
        padding-left: 0;
    }

    .headshots img {
        padding: 1px;
    }

    .head-text{
        padding: 0 200px;

    }


    /*  ======== Pitch Paragraph Section ========= */
    .pitch{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        color: #000;
        text-align: center;
        border-bottom: 0.7px solid rgba(169, 169, 169, 0.22);
    }

    .pt-content {

    }

    .pt-content h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }


    /*  ========= Contact Section ========= */
    .contact{
        height: 400px;
        color: #000;
        text-align: center;
    }

    .c-content{
        padding-left: 180px;
        padding-right: 180px;
    }

    .c-content h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .c-content .btn {
        background-color:#2a2728;
    }


    /*  ======= News Section ======== */
    .news{
        height: 500px;
        text-align: center;
        background-color: #ffffff;
        color: #000000;
    }

    .n-content h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }


    /* FOOTER */
    .social{
        text-align:left;
    }

    .social h2 {
    }

    .social ul {
        padding-left: 0;
        display: inline-block;
    }

    .social>ul li {
        float: left;
        list-style: none;
        padding-right: 5px;
    }

    .newsletter h2{
        text-align: left;
    }

    /* Form Control */



    .btn-navbar {
        padding-top: 10px;
    }


    .btn-navbar a {
        font-size: 10px;
        color: #fff;
    }
    .btn-navbar a:hover {
        color: #00addb;
    }




}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}

